<header class="main-header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="assets/images/logo.png" alt="자올아비 로고">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="pages/about.html">학원 소개</a></li>
                <li><a href="pages/courses.html">수강 과목</a></li>
                <li><a href="pages/notice.html" class="nav-highlight">학원 소식</a></li>
            </ul>
        </nav>
        <div class="header-right">
             <!-- TODO: 실제 카카오톡 채널 링크로 변경 -->
            <a href="#" class="contact-link">
                <img src="assets/images/kakao.png" alt="카카오톡 상담" class="contact-icon-img">
                1:1 상담
            </a>
        </div>
    </div>
</header> 